<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Aplicación de subastas</display-name>
  <description>Aplicación de subastas con Servlets</description>
  <servlet>
    <servlet-name>registro</servlet-name>
    <servlet-class>es.iesptocruz.franciscoa.controlador.servlets.ServletRegistro</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>slogin</servlet-name>
    <servlet-class>es.iesptocruz.franciscoa.controlador.servlets.ServletLogin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>scomprar</servlet-name>
    <servlet-class>es.iesptocruz.franciscoa.controlador.servlets.ServletComprar</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>svender</servlet-name>
    <servlet-class>es.iesptocruz.franciscoa.controlador.servlets.ServletVender</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>smain</servlet-name>
    <servlet-class>es.iesptocruz.franciscoa.controlador.servlets.ServletMain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>smain</servlet-name>
    <url-pattern>/main</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registro</servlet-name>
    <url-pattern>/registro</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>slogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>scomprar</servlet-name>
    <url-pattern>/comprar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>svender</servlet-name>
    <url-pattern>/vender</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>slogin</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>
